:root {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

* {
  box-sizing: border-box;
}

/* * {
  border: #ff00ff 1px dashed !important;
} */

body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;

  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  flex-grow: 1;
  padding: 0;
  margin: 0;
  border: #aaa 2px solid;
  margin: 1px;
}
